.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 20px;
  /* dynamically resize to full caontainer */
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.product:hover {
  transform: scale(1.05);
  transition: transform 300ms;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: #f0c14b;
  border: solid 1px;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__rating {
  color: #ebd534;
  display: flex;
  justify-content: center;
}
